<section data="home_view" class="main-menu-item switch-view">
    <p>Introduction</p>
</section>

<section data="challenges_view" class="main-menu-item switch-view">
    <p>Challenges</p>
</section>

<section data="solutions_view" class="main-menu-item switch-view">
    <p>Solutions</p>
</section>

<section data="splash_view" class="main-menu-item switch-view">
    <p>Splash</p>
</section>

<section data="how_view" class="main-menu-item switch-view">
    <p>How</p>
</section>

<section data="inaction_view" class="main-menu-item switch-view">
    <p>In Action</p>
</section>

<section data="resources_view" class="main-menu-item switch-view">
    <p>Resources</p>
</section>

<section id="settings-button" data="settings" class="main-menu-item">
    <section class="inline-image-container">
        <img src="./images/buttons/menu-settings.png">
    </section>
    <p>Settings</p>
</section>