<h2>
    SETTINGS
</h2>

<section class="settings-tour-tab-menu">
    <section data="dashboard" class="tour-tab-link active-setting">
        <p>Dashboard</p>
        <section class="tab-link-bottom-border"></section>
    </section>
    <section data="email-queue" class="tour-tab-link">
        <p>Email queue</p>
        <section class="tab-link-bottom-border"></section>
    </section>
    <section data="title-page" class="tour-tab-link">
        <p>Title page</p>
        <section class="tab-link-bottom-border"></section>
    </section>
    <section data="custom-slides" class="tour-tab-link">
        <p>Custom Slides</p>
        <section class="tab-link-bottom-border"></section>
    </section>
</section>

<section id="dashboard" class="tour-tab">
    <p class="settings-header">
        Dashboard
    </p>
</section>

<section id="email-queue" class="tour-tab">
    <p class="settings-header">
        Email Queue
    </p>
</section>

<section id="title-page" class="tour-tab">
    <p class="settings-header">
        Title Page
    </p>
</section>

<section id="custom-slides" class="tour-tab">
    <p class="settings-header">
        Custom Slides
    </p>
</section>