<section class="view-inner grid_row">
    <section class="upper-content-view full_width">
        <section class="upper-left-lines"></section>
        <section class="lower-left-lines"></section>
        <section class="view-title-wrapper">
            <h2>
                CHALLENGES
            </h2>
            <section class="view-title-desc-wrapper">
                <section class="view-title-brackets"></section>
                <section class="view-title-desc">
                    <p>
                        Today's sales teams<br/>
                        underachieve in three<br/>
                        critical areas
                    </p>
                </section>
            </section>

        </section>
        <section id="challenges-tour-tab-1" class="tour-tab">
            <p>Content 1</p>
        </section>
        <section id="challenges-tour-tab-2" class="tour-tab">
            <p>Content 2</p>
        </section>
        <section id="challenges-tour-tab-3" class="tour-tab">
            <p>Content 3</p>
        </section>
    </section>
    <section class="lower-content-view full_width">
        <section class="tour-tab-menu">
            <section data="challenges-tour-tab-1" class="tour-tab-link active-tab">
                <p>Engagement</p>
            </section>
            <section data="challenges-tour-tab-2" class="tour-tab-link">
                <p>Alignment</p>
            </section>
            <section data="challenges-tour-tab-3" class="tour-tab-link">
                <p>Buy-In</p>
            </section>
        </section>

        <section class="lower-logo-container">
            <img src="./images/logos/inner-logo.png">
        </section>
    </section>
</section>