<section class="view-inner grid_row">
    <section class="upper-content-view full_width">
        <section class="upper-left-lines"></section>
        <section class="lower-left-lines"></section>
        <section class="view-title-wrapper">
            <h2>
                CHALLENGES
            </h2>
            <section class="view-title-desc-wrapper">
                <section class="view-title-brackets"></section>
                <section class="view-title-desc">
                    <p>
                        Today's sales teams<br/>
                        underachieve in three<br/>
                        critical areas
                    </p>
                </section>
            </section>

        </section>

        <section id="challenges-tour-tab-1" class="tour-tab">
            <section class="challenges-left">
                <section class="info-section">
                    <h2>Engagement</h2>
                    <section class="info-row">
                        <section class="info-block">
                            <span class="circle-bullet"></span>
                            <p>
                                Understanding the customer's pain points
                            </p>
                        </section>
                        <section class="info-block">
                            <span class="circle-bullet"></span>
                            <p>
                                Challenging their status quo
                            </p>
                        </section>
                    </section>
                    <section class="info-row">
                        <section class="info-block">
                            <span class="circle-bullet"></span>
                            <p>
                                Acting as a consultant vs. a "supplier"
                            </p>
                        </section>
                        <section class="info-block">
                            <span class="circle-bullet"></span>
                            <p>
                                Pivoting from a "price" sell to a purposeful sell
                            </p>
                        </section>
                    </section>
                </section>
            </section>
            <section class="challenges-right">
                <section class="sidebar-quote-section">
                    <section class="quote-bubble"></section>
                    <section class="quote-inner">
                        <section class="quote-container">
                            <p class="quote-desc light-green-text">What do sales winners do differently?<sup>1</sup></p>
                            <ul>
                                <li><span class="circle-bullet"></span>Educate with new ideas</li>
                                <li><span class="circle-bullet"></span>Listen to your audience</li>
                                <li><span class="circle-bullet"></span>Understand their needs</li>
                            </ul>
                            <small class="footnote light-green-text">1. The Rain Group Customer Survey</small>
                        </section>
                    </section>
                </section>
            </section>
        </section>

        <section id="challenges-tour-tab-2" class="tour-tab">
            <section class="challenges-left">
                <section class="info-section">
                    <h2>Alignment</h2>
                    <section class="info-row">
                        <section class="info-block">
                            <span class="circle-bullet"></span>
                            <p>
                                Keeping the entire sales team on-message
                            </p>
                        </section>
                        <section class="info-block">
                            <span class="circle-bullet"></span>
                            <p>
                                Articulating a consistent brand and value story
                            </p>
                        </section>
                    </section>
                    <section class="info-row">
                        <section class="info-block">
                            <span class="circle-bullet"></span>
                            <p>
                                Helping rookies get up to speed quickly
                            </p>
                        </section>
                        <section class="info-block">
                            <span class="circle-bullet"></span>
                            <p>
                                Preventing use of home-brew PPTs and collateral
                            </p>
                        </section>
                    </section>
                </section>
            </section>
            <section class="challenges-right">
                <section class="sidebar-quote-section">
                    <section class="quote-bubble"></section>
                    <section class="quote-inner">
                        <section class="quote-container">
                            <p class="quote-desc light-green-text">Power Pointless</p>
                            <p class="quote-paragraph">
                                What are those endless,
                                run-on PowerPoint versions
                                saying about your brand?
                            </p>
                        </section>
                    </section>
                </section>
            </section>
        </section>

        <section id="challenges-tour-tab-3" class="tour-tab">
            <section class="challenges-left">
                <section class="info-section">
                    <h2>Buy-In</h2>
                    <section class="info-row">
                        <section class="info-block">
                            <span class="circle-bullet"></span>
                            <p>
                                Understanding the needs
                                of all key stakeholders
                                and influencers:
                            </p>
                        </section>
                        <section class="info-block">
                            <span class="circle-bullet"></span>
                            <p>
                                Wasting time waiting to
                                address each
                                decision-maker
                            </p>
                        </section>
                    </section>
                    <section class="info-row">
                        <section class="info-block">
                            <ul>
                                <li>
                                    <span class="triangle-bullet"></span>Marketing
                                </li>
                                <li>
                                    <span class="triangle-bullet"></span>Operations
                                </li>
                                <li>
                                    <span class="triangle-bullet"></span>Procurement
                                </li>
                                <li>
                                    <span class="triangle-bullet"></span>R&D
                                </li>
                                <li>
                                    <span class="triangle-bullet"></span>IT
                                </li>
                            </ul>

                        </section>
                        <section class="info-block">
                            <span class="circle-bullet"></span>
                            <p>
                                Missing opportunities
                                and delaying the sale
                            </p>
                        </section>
                    </section>
                </section>
            </section>
            <section class="challenges-right">
                <section class="sidebar-quote-section">
                    <section class="quote-bubble"></section>
                    <section class="quote-inner">
                        <section class="quote-container">
                            <p class="quote-paragraph">
                                <span class="light-green-text">5+</span> people now have to sign
                                off formally on an average B2B purchase
                            </p>
                            <section class="group-icon">
                                <img src="./images/pics/buyin-sidebar-icon.png">
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="lower-content-view full_width">
        <section class="tour-tab-menu">
            <section data="challenges-tour-tab-1" class="tour-tab-link active-tab">
                <p>Engagement</p>
            </section>
            <section data="challenges-tour-tab-2" class="tour-tab-link">
                <p>Alignment</p>
            </section>
            <section data="challenges-tour-tab-3" class="tour-tab-link">
                <p>Buy-In</p>
            </section>
        </section>

        <section class="lower-logo-container">
            <img src="./images/logos/inner-logo.png">
        </section>
    </section>
</section>