<section class="view-inner grid_row">
    <section class="home-wrapper full_width">
        <section class="introduction-container col_54">
            <section class="home-logo-container"></section>

            <section class="home-created-for">
                <p>Created for:</p>
                <p class="custom-company">
                    Art Vanderlay Enterprises, Ltd.
                </p>
                <p class="custom-date">
                    May 24, 2017
                </p>
            </section>
        </section>
    </section>
</section>