<section class="view-inner grid_row">
    <section class="upper-content-view full_width">
        <section id="inaction-tour-tab-1" class="tour-tab">
            <p>Content 1</p>
        </section>
        <section id="inaction-tour-tab-2" class="tour-tab">
            <p>Content 2</p>
        </section>
    </section>
    <section class="lower-content-view full_width">
        <section class="tour-tab-menu">
            <section data="inaction-tour-tab-1" class="tour-tab-link active-tab">
                <p>Clients</p>
            </section>
            <section data="inaction-tour-tab-2" class="tour-tab-link">
                <p>Demo</p>
            </section>
        </section>

        <section class="lower-logo-container">
            <img src="./images/logos/inner-logo.png">
        </section>
    </section>
</section>