<section class="view-inner grid_row">
    <section class="upper-content-view full_width">
        <section class="upper-left-lines"></section>
        <section class="lower-left-lines"></section>
        <section class="view-title-wrapper">
            <h2>
                IN ACTION
            </h2>
            <section class="view-title-desc-wrapper">
                <section class="view-title-brackets"></section>
                <section class="view-title-desc">
                    <p>
                        World-class B2B brands<br/>
                        present with Intuvio<br/>
                        and you can, too
                    </p>
                </section>
            </section>
            <section class="view-demo-slider">
                <p>Slider goes here</p>
            </section>

        </section>

        <section id="inaction-tour-tab-1" class="tour-tab">
            <section class="full-section">
                <h2>Clients</h2>
            </section>
        </section>
        <section id="inaction-tour-tab-2" class="tour-tab">
            <section class="full-section">
                <h2>Demo</h2>
                <section class="demo-left">
                    <section class="demo-wrapper">
                        <a data-rollover="tntburgers" href="">
                            <img src="./images/pics/tntburgers-resting.png">
                        </a>
                    </section>
                </section>
                <section class="demo-middle">
                    <section class="demo-wrapper">
                        <a data-rollover="coldspring" href="">
                            <img src="./images/pics/coldspring-resting.png">
                        </a>
                    </section>
                </section>
                <section class="demo-right">
                    <section class="demo-wrapper">
                        <a data-rollover="ecolab" href="">
                            <img src="./images/pics/ecolab-resting.png">
                        </a>
                    </section>
                </section>

                <section class="demo-pagination">
                    <!-- FIXIT : ADD FUNCTIONALITY FOR PAGINATION -->
                </section>
            </section>
        </section>
    </section>
    <section class="lower-content-view full_width">
        <section class="tour-tab-menu">
            <section data="inaction-tour-tab-1" class="tour-tab-link active-tab">
                <p>Clients</p>
            </section>
            <section data="inaction-tour-tab-2" class="tour-tab-link">
                <p>Demo</p>
            </section>
        </section>

        <section class="lower-logo-container">
            <img src="./images/logos/inner-logo.png">
        </section>
    </section>
</section>